.timeline {
    position: relative;
    margin: 0 0 30px 0;
    padding: 0;
    list-style: none
}

.timeline:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 4px;
    background: #ddd;
    left: 31px;
    margin: 0;
    border-radius: 2px
}

.timeline>li {
    position: relative;
    margin-right: 10px;
    margin-bottom: 15px
}

.timeline>li:before,.timeline>li:after {
    content: " ";
    display: table
}

.timeline>li:after {
    clear: both
}

.timeline>li>.timeline-item {
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border-radius: 3px;
    margin-top: 0;
    background: #fff;
    color: #444;
    margin-left: 60px;
    margin-right: 15px;
    padding: 0;
    position: relative
}

.timeline>li>.timeline-item>.time {
    color: #999;
    float: right;
    padding: 10px;
    font-size: 12px
}

.timeline>li>.timeline-item>.timeline-header {
    margin: 0;
    color: #555;
    border-bottom: 1px solid #f4f4f4;
    padding: 10px;
    font-size: 16px;
    line-height: 1.1
}

.timeline>li>.timeline-item>.timeline-header>a {
    font-weight: 600
}

.timeline>li>.timeline-item>.timeline-body,.timeline>li>.timeline-item>.timeline-footer {
    padding: 10px
}

.timeline>li>.fa,.timeline>li>.glyphicon,.timeline>li>.ion {
    width: 30px;
    height: 30px;
    font-size: 15px;
    line-height: 30px;
    position: absolute;
    color: #666;
    background: #d2d6de;
    border-radius: 50%;
    text-align: center;
    left: 18px;
    top: 0
}

.timeline>.time-label>span {
    font-weight: 600;
    padding: 5px;
    display: inline-block;
    background-color: #fff;
    border-radius: 4px
}

.timeline-inverse>li>.timeline-item {
    background: #f0f0f0;
    border: 1px solid #ddd;
    -webkit-box-shadow: none;
    box-shadow: none
}

.timeline-inverse>li>.timeline-item>.timeline-header {
    border-bottom-color: #ddd
}

.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1)
}

.box.box-primary {
    border-top-color: #3c8dbc
}

.box.box-info {
    border-top-color: #00c0ef
}

.box.box-danger {
    border-top-color: #dd4b39
}

.box.box-warning {
    border-top-color: #f39c12
}

.box.box-success {
    border-top-color: #00a65a
}

.box.box-default {
    border-top-color: #d2d6de
}

.box.collapsed-box .box-body,.box.collapsed-box .box-footer {
    display: none
}

.box .nav-stacked>li {
    border-bottom: 1px solid #f4f4f4;
    margin: 0
}

.box .nav-stacked>li:last-of-type {
    border-bottom: none
}

.box.height-control .box-body {
    max-height: 300px;
    overflow: auto
}

.box .border-right {
    border-right: 1px solid #f4f4f4
}

.box .border-left {
    border-left: 1px solid #f4f4f4
}

.box.box-solid {
    border-top: 0
}

.box.box-solid>.box-header .btn.btn-default {
    background: transparent
}

.box.box-solid>.box-header .btn:hover,.box.box-solid>.box-header a:hover {
    background: rgba(0,0,0,0.1)
}

.box.box-solid.box-default {
    border: 1px solid #d2d6de
}

.box.box-solid.box-default>.box-header {
    color: #444;
    background: #d2d6de;
    background-color: #d2d6de
}

.box.box-solid.box-default>.box-header a,.box.box-solid.box-default>.box-header .btn {
    color: #444
}

.box.box-solid.box-primary {
    border: 1px solid #3c8dbc
}

.box.box-solid.box-primary>.box-header {
    color: #fff;
    background: #3c8dbc;
    background-color: #3c8dbc
}

.box.box-solid.box-primary>.box-header a,.box.box-solid.box-primary>.box-header .btn {
    color: #fff
}

.box.box-solid.box-info {
    border: 1px solid #00c0ef
}

.box.box-solid.box-info>.box-header {
    color: #fff;
    background: #00c0ef;
    background-color: #00c0ef
}

.box.box-solid.box-info>.box-header a,.box.box-solid.box-info>.box-header .btn {
    color: #fff
}

.box.box-solid.box-danger {
    border: 1px solid #dd4b39
}

.box.box-solid.box-danger>.box-header {
    color: #fff;
    background: #dd4b39;
    background-color: #dd4b39
}

.box.box-solid.box-danger>.box-header a,.box.box-solid.box-danger>.box-header .btn {
    color: #fff
}

.box.box-solid.box-warning {
    border: 1px solid #f39c12
}

.box.box-solid.box-warning>.box-header {
    color: #fff;
    background: #f39c12;
    background-color: #f39c12
}

.box.box-solid.box-warning>.box-header a,.box.box-solid.box-warning>.box-header .btn {
    color: #fff
}

.box.box-solid.box-success {
    border: 1px solid #00a65a
}

.box.box-solid.box-success>.box-header {
    color: #fff;
    background: #00a65a;
    background-color: #00a65a
}

.box.box-solid.box-success>.box-header a,.box.box-solid.box-success>.box-header .btn {
    color: #fff
}

.box.box-solid>.box-header>.box-tools .btn {
    border: 0;
    box-shadow: none
}

.box.box-solid[class*='bg']>.box-header {
    color: #fff
}

.box .box-group>.box {
    margin-bottom: 5px
}


.box-header>.fa,.box-header>.glyphicon,.box-header>.ion,.box-header .box-title {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1
}

.box-header>.fa,.box-header>.glyphicon,.box-header>.ion {
    margin-right: 5px
}

.box-header>.box-tools {
    position: absolute;
    right: 10px;
    top: 5px
}

.box-header>.box-tools [data-toggle="tooltip"] {
    position: relative
}

.box-header>.box-tools.pull-right .dropdown-menu {
    right: 0;
    left: auto
}

.box-header>.box-tools .dropdown-menu>li>a {
    color: #444!important
}


.box .knob-label {
    text-align: center;
    color: #333;
    font-weight: 100;
    font-size: 12px;
    margin-bottom: 0.3em
}

.box>.overlay,.overlay-wrapper>.overlay,.box>.loading-img,.overlay-wrapper>.loading-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.box .overlay,.overlay-wrapper .overlay {
    z-index: 50;
    background: rgba(255,255,255,0.7);
    border-radius: 3px
}

.box .overlay>.fa,.overlay-wrapper .overlay>.fa {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
    color: #000;
    font-size: 30px
}

.box .overlay.dark,.overlay-wrapper .overlay.dark {
    background: rgba(0,0,0,0.5)
}

.box-header:before,.box-body:before,.box-footer:before,.box-header:after,.box-body:after,.box-footer:after {
    content: " ";
    display: table
}

.box-header:after,.box-body:after,.box-footer:after {
    clear: both
}

.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative
}

.box-header.with-border {
    border-bottom: 1px solid #f4f4f4
}

.collapsed-box .box-header.with-border {
    border-bottom: none
}

.box-header>.fa,.box-header>.glyphicon,.box-header>.ion,.box-header .box-title {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1
}

.box-header>.fa,.box-header>.glyphicon,.box-header>.ion {
    margin-right: 5px
}

.box-header>.box-tools {
    position: absolute;
    right: 10px;
    top: 5px
}

.box-header>.box-tools [data-toggle="tooltip"] {
    position: relative
}

.box-header>.box-tools.pull-right .dropdown-menu {
    right: 0;
    left: auto
}

.box-header>.box-tools .dropdown-menu>li>a {
    color: #444!important
}

.btn-box-tool {
    padding: 5px;
    font-size: 12px;
    background: transparent;
    color: #97a0b3
}

.open .btn-box-tool,.btn-box-tool:hover {
    color: #606c84
}

.btn-box-tool.btn:active {
    box-shadow: none
}

.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px
}

.no-header .box-body {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px
}

.box-body>.table {
    margin-bottom: 0
}

.box-body .fc {
    margin-top: 5px
}

.box-body .full-width-chart {
    margin: -19px
}

.box-body.no-padding .full-width-chart {
    margin: -9px
}

.box-body .box-pane {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 3px
}

.box-body .box-pane-right {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 0
}

.box-footer {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid #f4f4f4;
    padding: 10px;
    background-color: #fff
}

.bg-red,.bg-yellow,.bg-aqua,.bg-blue,.bg-light-blue,.bg-green,.bg-navy,.bg-teal,.bg-olive,.bg-lime,.bg-orange,.bg-fuchsia,.bg-purple,.bg-maroon,.bg-black,.bg-red-active,.bg-yellow-active,.bg-aqua-active,.bg-blue-active,.bg-light-blue-active,.bg-green-active,.bg-navy-active,.bg-teal-active,.bg-olive-active,.bg-lime-active,.bg-orange-active,.bg-fuchsia-active,.bg-purple-active,.bg-maroon-active,.bg-black-active,.callout.callout-danger,.callout.callout-warning,.callout.callout-info,.callout.callout-success,.alert-success,.alert-danger,.alert-error,.alert-warning,.alert-info,.label-danger,.label-info,.label-warning,.label-primary,.label-success,.modal-primary .modal-body,.modal-primary .modal-header,.modal-primary .modal-footer,.modal-warning .modal-body,.modal-warning .modal-header,.modal-warning .modal-footer,.modal-info .modal-body,.modal-info .modal-header,.modal-info .modal-footer,.modal-success .modal-body,.modal-success .modal-header,.modal-success .modal-footer,.modal-danger .modal-body,.modal-danger .modal-header,.modal-danger .modal-footer {
    color: #fff !important
}

.bg-gray {
    color: #000;
    background-color: #d2d6de !important
}

.bg-gray-light {
    background-color: #f7f7f7
}

.bg-black {
    background-color: #111 !important
}

.bg-red,.callout.callout-danger,.alert-danger,.alert-error,.label-danger,.modal-danger .modal-body {
    background-color: #dd4b39 !important
}

.bg-yellow,.callout.callout-warning,.alert-warning,.label-warning,.modal-warning .modal-body {
    background-color: #f39c12 !important
}

.bg-aqua,.callout.callout-info,.alert-info,.label-info,.modal-info .modal-body {
    background-color: #00c0ef !important
}

.bg-blue {
    background-color: #0073b7 !important
}

.bg-light-blue,.label-primary,.modal-primary .modal-body {
    background-color: #3c8dbc !important
}

.bg-green,.callout.callout-success,.alert-success,.label-success,.modal-success .modal-body {
    background-color: #00a65a !important
}

.bg-navy {
    background-color: #001f3f !important
}

.bg-teal {
    background-color: #39cccc !important
}

.bg-olive {
    background-color: #3d9970 !important
}

.bg-lime {
    background-color: #01ff70 !important
}

.bg-orange {
    background-color: #ff851b !important
}

.bg-fuchsia {
    background-color: #f012be !important
}

.bg-purple {
    background-color: #605ca8 !important
}

.bg-maroon {
    background-color: #d81b60 !important
}
